* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eef7f2;
}
.navbar {

  display: flex;
  background-color: #d8e9df;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 5px 2px 18px 1px #6d706e;
}
.city {

  font-size: 20px;
  font-family: 'Big Shoulders Text', cursive;
}

.city:hover {
  color: rgb(35, 80, 56);
  cursor: pointer;
}

.city::first-letter {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(71, 142, 104);
}

.mainpage .logo {

  width: 77px;
  height: 75px;
  background-image: url(../img/icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.city {

  padding-left: 15px;
  padding-top: 20px;
  width: 300px;
  height: 75px;
  color: rgb(47, 47, 47);
}

.mainpage .homePage {
  margin-top: 23px;
  margin-left: 700px;
  width: 30px;
  height: 30px;
  background-image: url(../img/Home\ Page\ Imag/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.mainpage .citys {
  width: 30px;
  height: 30px;
  background-image: url(../img/Home\ Page\ Imag/city.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 23px;
  margin-left: 30px;
}

.mainpage .signup2 {
    width: 30px;
  height: 30px;
  background-image: url(../img/Home\ Page\ Imag/sign-up.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 23px;
  margin-left: 30px;
}

.mainpage .login2 {
  width: 30px;
  height: 30px;
  background-image: url(../img/Home\ Page\ Imag/login\ \(3\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 23px;
  margin-left: 30px;
}

.homePage:hover {
  transform: scale(1.25);
}

.signup2:hover {
  transform: scale(1.25);
}

.citys:hover {
  transform: scale(1.25);
}

.login2:hover {
  transform: scale(1.25);
}

/* main part style */
/* first part style */
.firstPart {
  height: 540px;
  width: 100%;
  display: flex;
}

.firstPart1 {
  height: 540px;
  width: 40%;
}

.firstPart2 {
  background-image: url(../img/homePage.png);
  opacity: .87;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
  width: 60%;
}

.firstPart1 h5 {
  color: hsl(229, 7%, 68%);
  padding-left: 60px;
  padding-top: 120px;
}

.firstPart1 h1 {
  letter-spacing: .5px;
  width: 480px;
  padding-left: 55px;
  padding-top: 25px;
  /* font-weight: 700px; */
  color: hsl(212, 21%, 14%);
  line-height: 1.2;
  padding-right: 75px;
  font-family: "Fraunces", serif;
}

.firstPart1 h1::first-letter {
  font-size: larger;
  color: #478e68;
}

.firstPart p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  padding-left: 45px;
  padding-top: 40px;
  color: #6c7289e5;
  line-height: 1.5;
}

.firstPart1 button {
  border: hsl(158, 36%, 37%) solid 1px;
  color: aliceblue;
  width: 220px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  font-size: 15px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  margin-left: 110px;
  margin-top: 40px;
  animation-name: example;
  animation-duration: 4s;
}

.firstPart1 button:hover {
  cursor: pointer;
  transform: scale(1.2);
  
}

@keyframes example {
  from {
    background-color: hsl(60, 6%, 74%);
  }

  to {
    background-color: hsl(158, 36%, 37%);
  }
}

/* company section */
.company {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  width: 100%;
  background-color: #d8e9df;

}

.company h1 {
  color: #3c8067;
  padding-top: 30px;
  text-align: center;
}

.company h2 {
  padding-top: 24px;
  margin-left: 230px;
  font-weight: lighter;
  font-size: 22pt;
}


.company p {
  width: fit-content;
  margin-left: 276px;
  padding-top: 30px;
  margin-right: 350px;
  color: hsla(228, 12%, 48%, 0.898) !important;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  line-height: 1.5;
}

#border {
  position: relative;
  width: 11.5%;
  border: 3px solid #3c8067;
  margin-top: 20px;
  margin-left: 235px;
}

.company button {
  border: hsl(158, 36%, 37%) solid 1px;
  color: aliceblue;
  width: 220px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  font-size: 15px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  margin-left: 560px;
  margin-top: 65px;
  animation-name: example;
  animation-duration: 4s;
}

.company button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@keyframes example {
  from {
    background-color: hsl(60, 6%, 74%);
  }

  to {
    background-color: hsl(158, 36%, 37%);
  }
}
/* contact style */
/* Start Contact section */
#contact {
   height: 550px;
}

#contact .contact-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  height: 70vh;

}

#contact .form {
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: 40px;
 justify-content: center;
}

form {
  width: 100%;
}

#contact form .inputWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: .3rem;
}

#contact [type]:focus,
#contact textarea:focus {
  outline: 1px solid hsl(158, 36%, 37%);
}

#contact #name {
  width: 45%
}

#contact #email {
  width: 54%;
}

#contact [type],
#contact textarea {
  display: inline-block;
  background-color: hsl(158, 36%, 37%);
  display: inline-block;
  margin-bottom: 1rem;
  background-color: #eef7f2;
  border: 1px #3c8067 solid;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  letter-spacing: 1px;
  width: 50%;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#contact textarea {
  display: block;
  height: 55%;
  width: 90%;
}

#contact #btn {
  display: block;
  height: 2.5rem;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  background-image: url(../img/send\ \(4\).png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .8;
  width: 90%;
}
#contact .labels {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
#contact label {
  display: inline-block;
  width: 50%;
  font-size: 1.5rem;
  margin-left: .8rem;
  color: #43454ce5;
  cursor: text;
}
#contact .labels .email {
  margin-left: -1.7rem;
}

#contact .labels .name {
  margin-left: 1.5rem;
}

#contact .contact-me {
  color: hsla(223, 14%, 10%, 0.898);
  display: flex;
  align-items: center;

}
#contact .contact-me i {
  display: inline-block;
  font-size: 2rem;
  margin: 2rem;
  margin-right: .9rem;

}

#contact .contact-me p {
  font-size: 1.3rem;
}

#contact h3 {
  color: hsla(231, 11%, 12%, 0.642);
  padding: 1.6rem;
  background-color: #eef7f2;
  border-top-left-radius: 4rem;
  border-bottom-right-radius: 6rem;
  border-left: 6px solid #3c8067;
  border-bottom: 4px solid hsl(158, 36%, 37%);
  margin-top: 1rem;
  width: 95%;
  font-size: 1.3rem;
  border-bottom-left-radius: .5rem;
  margin-left: 0rem;
}
/* break style */
.footer {
  background-color: #3c8067;
  width: 100%;
  height: 70px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer i{
  margin-left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color:#d8e9df;
}
.footer i:hover{
    transform: scale(1.5);
}