* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: #eef7f2;
  }
  .navbar {
  
    display: flex;
    background-color: #d8e9df;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 5px 2px 18px 1px #6d706e;
  }
  .city {

    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
  }
  .city:hover {
    color: rgb(35, 80, 56);
    cursor: pointer;
  }
  
  .city::first-letter {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(71, 142, 104);
  }
  .qalqiliapage .logo {

    width: 77px;
    height: 75px;
    background-image: url(../img/icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }  
  .city {

    padding-left: 15px;
    padding-top: 20px;
    width: 300px;
    height: 75px;
    color: rgb(47, 47, 47);
  }
  
.qalqiliapage .homePage {
    margin-top: 23px;
    margin-left: 500px;
    width: 30px;
    height: 30px;
    background-image: url(../img/Qalqilia\ page\ Imag/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .qalqiliapage .profile {
    width: 30px;
    height: 30px;
    background-image: url(../img/Qalqilia\ page\ Imag/Person-prfile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 23px;
    margin-left: 30px;
  }
  .qalqiliapage .Logout {
    width: 30px;
  height: 30px;
  background-image: url(../img/Qalqilia\ page\ Imag/logout.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 23px;
  margin-left: 30px;
}
  
 .qalqilia-city{
    padding-left: 15px;
    padding-top: 20px;
    width: 300px;
    height: 75px;
    color: rgb(47, 47, 47);
    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
 } 
 .streets{
  border-radius: 50px ;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

overflow: auto;
  margin-left: 30px;
  margin-top: 20px;
  width: 950px;
  height: 200px;
  background-color:#d8e9df ;
 }
 .street{
  border-radius: 50px ;
padding: 10px;
margin: 20px;
width:15% ;
float: left;
height: 50px;
background-color: #c8d6cd;
text-align: center;

 }
 .type{
  width: 570px;
  height: 70px;
  margin: 20px;
  margin-left: 30px;
  border-radius: 20px;
  background-color:#d8e9df ;

 }
 .icons{
width: 50px;

margin: 10px;
margin-left: 20px;
height: 50px;
float: left;
text-align: center;
border-radius: 50%;
background-color: #c8d6cd;

 }
 .icons:hover {
  color: rgb(35, 80, 56);
    cursor: pointer;
 }
 i{
  font-size:30px;
  box-sizing:content-box;
margin-top: 7px;

 }
.all{
  font-size: 25px;   
  font-weight: bold;
  text-align: center ;
    padding: 10px;
 }
 .top{
  width: 950px;
height:100px;
margin-left: 30px;
margin-top: 20px;


 }
 .trend::first-letter {
  font-weight: bolder;
  color: rgb(71, 142, 104);
}
.trend{
  font-size: 70px;
  font-family: "Fraunces", serif;
  width: 500px;
  float: left;


}
.img-trend{
  width: 400px;
  height:100px;
  float: right;
  padding-top: 0px;

}
.shop-trind{
width: 950px;
height: 800px;
margin-left: 30px;
margin-top: 20px;
background-image: url("../img/Qalqilia page Imag/Building-rafiki.png");
background-position: center;  
background-size: cover; 
background-image:  rgba(76, 175, 80, 5);
overflow: auto;
box-shadow: 5px 2px 18px 1px #6d706e;
  
}

.shops{
width: 300px;
height: 300px;
margin: 50px;
float: left;
margin-left: 80px;
overflow: auto;
background-color: #e5f1ea;


}
.imgshop{
height: 200px;
}
.react{
  height: 48px;
  padding-left: 10px;
  float: left;
right: 0px;
width: 298px;
direction: rtl;
padding-right: 10px;

}
.description{
  height: 50px;
  direction: rtl;
  text-align: center;
  padding-top: 5px;
}
.description p{

  font-size: 20px;

}
.main{
 width: 1350px;
 float: left;
}
.center{
  
  width: 1000px;
  float: left;

}
.fav-shop{
  
    width: 345px;
 height:540px;
  float: right;
  overflow: auto;
  }
  .fav{
    height: 80px;
    font-family: "Fraunces", serif;
    width: 332px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    box-shadow: 5px 2px 18px 1px #6d706e;
  }
  .Favorite{
    height: 200px;
    width: 332px;
    margin-top: 15px;

  }
.img-fav{
  width: 332px;
  height: 150px;
}
.img-fav img{
  width: 332px;
height: 150px;

}
.des-fav{
  width: 332px;
  height: 50px;
  font-size: 20px;
  direction: rtl;
  text-align: center;
  padding-top: 5px;
}
