* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    background-color: #eef7f2;
  }
  .navbar {
    /* border-top-right-radius: 40px; */
    /* border-bottom-right-radius: 30px; */

    width: 70px;
  position: fixed;
  z-index:1;
  /* top: 20px; */
  /* left: 10px; */
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  height: 5%;

    /* display: flex; */
    background-color: #d8e9df;
    width: 100;
    height: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    /*\ box-shadow: 5px 2px 18px 1px #6d706e; */
  }

  .city {

    font-size: 20px;
    font-family: 'Big Shoulders Text', cursive;
  }
  .city:hover {
    color: rgb(35, 80, 56);
    cursor: pointer;
  }
  .qalqilia-city h1::first-letter {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(71, 142, 104);
  }
  .qalqilia-city h1:hover{
    cursor: pointer;
  }


  .city::first-letter {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(71, 142, 104);
  }
  .qalqiliapage .logo {

    width: 60px;
    height: 70px;
    background-image: url(../img/icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
  }  
  .city {

    padding-left: 15px;
    padding-top: 25px;
    width: 300px;
    height: 75px;
    color: rgb(47, 47, 47);
  }
  
.qalqiliapage .homePage {
    display: block;
    margin-top: 80px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/Qalqilia\ page\ Imag/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  
  }
  .qalqiliapage .profile,
  .qalqiliapage .Logout {
    width: 30px;
    height: 30px;
    background-image: url(../img/Qalqilia\ page\ Imag/Person-prfile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 85px;
    margin-left: 20px;
  }
  .qalqiliapage .Logout {
  background-image: url(../img/Qalqilia\ page\ Imag/logout.png);
  margin-top: 220px;
  margin-left: 25px;
}
.homePage:hover {
  transform: scale(1.25);
}
.profile:hover {
  transform: scale(1.25);
}

.Logout:hover {
  transform: scale(1.25);
}
.parent{

  background-color: #d8e9df;
  margin-left: 70px;
  

}
.child{
  background-color: #eef7f2;
border-top-left-radius: 400px;
width: 1000px;
height: 76px;
/* border: #478e68 1px solid; */

}
  
 .qalqilia-city{
  /* border: #478e68 1px solid; */
  border-top-left-radius: 5rem;

  display: flex;
    padding-left: 30px;
    padding-top: 20px;
    width: 920px;
    height: 75px;
    color: rgb(47, 47, 47);
    font-size: 14px;
    font-family: 'Big Shoulders Text', cursive;
    border-bottom: 2px solid #478e6865;
 }

 #street{
  font-size: 25px;
  margin-top: 20px;
  margin-left: 90px;
  text-transform: capitalize;
  font-family: 'Fraunces', serif;
 } 
 .streets{

  /* border: 1px solid #478e6865; */
  /* border-radius: 25px ; */
  /* border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; */
/* overflow: auto; */
  margin-left: 92px;
  margin-top: 20px;
  width: 860px;
  height: 10%;
  display: flex;
  /* background-color:#d8e9df ; */
 }

 .street:hover{
  cursor: pointer;
  color:#478e68;
font-weight: bolder;
 }
 .street{
  border-radius: 50px ;
padding: 10px;
/* margin: 20px; */
margin-left: .7rem;
width:90% ;
display: flex;
align-items: center;
justify-content: center;
float: left;
height: 50px;
/* background-color: #c8d6cd; */
border: 2px solid #c8d6cd;
text-align: center;

background-color: #c8d6cd;
 }
 .type{
  border: 1px solid #478e6865;
height: 5%;
  width: 570px;
  /* height: 70px; */
  margin: 20px;
  margin-left: 92px;
  border-radius: 20px;
  /* background-color:#d8e9df ; */
  /* margin-top: -2rem; */
margin-bottom: 1px;
 }
 .icons{
border: #c8d6cd solid 1px;
width: 55px;
margin: 10px;
margin-left: 20px;
height: 50px;
float: left;
text-align: center;
border-radius: 50%;
background-color: #c8d6cd;

 }
 .icons:hover {
  color: rgb(35, 80, 56);
    cursor: pointer;
 }
 i{
  font-size:30px;
  box-sizing:content-box;
margin-top: 7px;

 }
.all{
  font-size: 18px;   
  font-weight: bold;
  text-align: center ;
    padding: 10px;
 }
 .top{
  width: 950px;
height:100px;
margin-left: 30px;
margin-top: 20px;


 }
 .trend::first-letter {
  font-weight: bolder;
  color: #478e68;
}
.trend{
  margin-left: 80px;
  margin-top: 2px;
  font-size: 35px;
  font-family: "Fraunces", serif;
  width: 500px;
  float: left;


}
.shop-trind{
width: 920px;
/* height: 640px; */
margin-left: 70px;
margin-top: -50px;
background-image:  rgba(76, 175, 80, 5);
overflow: auto;
padding-left: 6px;
/* background-color: blue; */
height: 68vh;
overflow-y: auto;
padding-bottom: 9rem;
  padding-left: 3rem;
  padding-top: .5rem;
}

.shops{
  border: 1px solid #478e6865;
border-radius:20px ;
width: 255px;
height: 265px;
margin-right: 27px;
/* margin-left: 20px; */
float: left;
background-color: #e5f1ea;
margin-bottom: 20px;

}
.shops img{
  /* height: 40%;
  width: 80%;
  display: inline-block; */
  padding: 10px; width:100%;height: 11rem; border-radius: 20px;
  
}
.imgshop{
/* height: 200px; */
}
.react{
  height: 48px;
  padding-left: 10px;
  float: left;
right: 10px;
width: 253px;
direction: rtl;
padding-right: 10px;
padding-top: 10px;
margin-top: -20px;

}
.react:hover{
cursor: pointer;}
.description{
  height: 50px;
  direction: rtl;
  text-align: center;
  padding-top: 5px;
}
.description p{

  font-size: 20px;

}
.main{
 width: 1350px;
 float: left;
}
.center{
  border-top-right-radius: 5rem;
  width: 1000px;
  float: left;

}
.fav-shop{
  border: 3px solid #478e6865;
border-radius: 15px;
    width: 320x;
 height:590px;
  float: right;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1000px;
  position: fixed;
padding: .2rem;
  }
  .fav{
    height: 80px;
    font-family: "Fraunces", serif;
    width: 332px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    /* box-shadow: 5px 2px 18px 1px #6d706e; */
  }
  .Favorite{
    height: 200px;
    width: 332px;
    margin-top: 15px;

  }
.img-fav{
  width: 332px;
  height: 150px;
}
.img-fav img{
  width: 332px;
height: 150px;

}
.des-fav{
  width: 332px;
  height: 50px;
  font-size: 20px;
  direction: rtl;
  text-align: center;
  padding-top: 5px;
}
.qalqiliapage{
  /* background-color: red; */
  height: 90vh;
  overflow: hidden;
}
.category-section{
  /* background-color: blueviolet; */
  display: flex;
}